PORT=8089
MONGODB_URL="mongodb://localhost:27017/doctor"
SECRET_KEY="your_super_secret_jwt_key_here_minimum_32_chars"
CLIENT_URL="http://localhost:3000"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"
EMAIL_FROM="Doctor Appointment System <your-email@gmail.com>"

KHALTI_SECRET_KEY="your_khalti_secret_key_here"
KHALTI_APP_URL="https://a.khalti.com/api/v2"